{% csrf_token %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ESTOQUE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h2>ADICIONAR ESTOQUE</h2>
        <form action="" method="post">
            <h6>PRODUTO{{form.proNome}}</h6>
            {{form.quanEsto}}
            {{form.funci}}
            
            <button  type="submit">SALVAR</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>